.header {
  grid-area: h;
  padding: 0px 24px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
}

.header img {
  display: flex;
  width: 100px;
}