.settingsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
}
.header {
    align-self: flex-start;
    margin: 16px 0;
}
.frame {
    width: 700px;
    height: 360px;
    box-sizing: border-box;
    border: 1px solid #E5E5E5;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 98px;
    border-radius: 12px;
}
.icon {
    width: 72px;
    height: 72px;
    margin-bottom: 16px;
}
.mainText {
    color: #0C0C0C;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}
.text {
    color: #5D5B67;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 4px;
}